:host {
    background-color: #dbdbdb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 212px;


    .card-short-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}