<header>
    <img class="logo" height="50" src="/assets/images/logo.svg">
    <h1>Header</h1>
    <nav>
        <a *ngFor="let navItem of navigationItems" [routerLink]="'/' + navItem">{{navItem}}</a>
    </nav>
</header>
<main>
    <label>Search</label>
    <input [(ngModel)]="searchValue" (ngModelChange)="onValueChange(searchValue)">
    <app-grid-component [items]="pokemonData"></app-grid-component>
</main>
<footer>
    <div class="list col-1">
        <h1>Col1:</h1>
        <img class="logo" height="50" src="/assets/images/logo.svg">
    </div>
    <div class="list col-2">
        <h1>Col2:</h1>
        <a *ngFor="let navItem of navigationItems">{{navItem}}</a>
    </div>
    <div class="list col-3">
        <h1>Col3:</h1>
        <a>{{contactInformation.name}}</a>
        <a>{{contactInformation.address}}</a>
        <a>{{contactInformation.phone}}</a>
        <a>{{contactInformation.email}}</a>
    </div>
</footer>