:host {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(196, 196, 196);
}

.list {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 50px;
    width: 50px;
}